@using Projector.Models;
@model List<Projector.Models.ProjectAssignmentsViewModel>


<div id="sample">
@using (Html.BeginForm("assign", "Projects", FormMethod.Post, new { id = "sampleform" }))
{
    if (Model.Count <= 0)
    {
    <select name="person_id" id="person_id">
        
     <option>No Available Person</option>
        
    </select>
    }
    else
    {
     <select name="person_id" id="person_id">
        @foreach (var person in Model)
        {
            <option value="@person.person_id">@person.first_name , @person.last_name</option>
        }
    </select>
<input type="hidden" name="project_id" id="project_id" value="@Session["proj_id"]" />

    <input type="submit" value="Add" id="addButton" />

    }
}
</div>
<script>
    $("#sampleform").one('submit', function (ev) {
        ev.preventDefault();
        $("#sampleform").submit(function () {


            var person_id = $("#person_id").val();
            var project_id = $("#project_id").val();


            var json_strng = JSON.stringify({ person_id: person_id, project_id: project_id });


            $.ajax({
                url: $("#sampleform").attr("action"),
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',

                data: json_strng,
                success: function (result, status) {
                    if (result.Success) {

                        success();

                    }
                    else {
                        $("#msg").html("<span style=\"color: Red\"><strong>Your submit fauiler, Detail message is:" + json2.ErrorMessage + "</strong></span>");
                    }
                }
            });
            return false;
        });
        $(this).on('submit', function (evt) {
            evt.preventDefault();
        });

        function success() {
            $("#projectmembers-wrapper").load('/Projects/getprojectmembers');
            $("#sample").load('/Projects/unassigned');
        }

   

</script>
   
