@model List<Projector.Models.SubProjectTree>
@foreach (var projects in Model.ToList())
{
    <li><span>@projects.name</span></li>
        if (projects.tree.Count > 0)
        {
            <ul id="subproject" >
                @foreach (var child in projects.tree)
                {
                    <li id="subprojectli">@child.name</li>
                    if (child.tree.Count > 0)
                    {
                        <ul  id="subproject">
                            @Html.Partial("subprojects",child.tree)
                        </ul>
                    }
                }
            </ul>
        }
     
     
    
}

