@using Projector.Models;
@model List<Projector.Models.ProjectAssignmentsViewModel>


<div id="sample">
@using (Html.BeginForm("assign", "Projects", FormMethod.Post, new { id = "sampleform" }))
{
    if (Model.Count <= 0)
    {
    <select name="person_id" id="person_id">
        
     <option>No Available Person</option>
        
    </select>
    }
    else
    {
     <select name="person_id" id="person_id">
        @foreach (var person in Model)
        {
            <option value="@person.person_id">@person.first_name , @person.last_name</option>
        }
    </select>
<input type="hidden" name="project_id" id="project_id" value="@Session["proj_id"]" />

    <input type="submit" value="Add" id="addButton" />

    }
}
</div>
<script>
    $("#sampleform").submit(function (e) {
        e.preventDefault();

        var person_id = $("#person_id").val();
        var project_id = $("#project_id").val();


        var json_strng = JSON.stringify({ person_id: person_id, project_id: project_id });
        $.ajaxSetup({ cache: false });

        $.ajax({
            url: $("#sampleform").attr('action'),
            type: 'POST',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: json_strng,
            success: function (responseText, Status, xhr) {
                if (responseText.success == true) {
                    alert(responseText.message);
                    $.get("/Projects/getprojectmembers", function (data) {
                        $("#projectmembers-wrapper").html(data);
                    });
                    $.get("/Projects/unassigned", function (data) {
                        $("#sample").html(data);
                    });
                }





            }
        });


    });


</script>
   
